<nav id="navbar" class="navbar has-shadow is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuDocumentation" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item bd-navbar-item-documentation  is-active" href="/components">
          <span class="is-hidden-desktop-only">
            Components
          </span>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped is-grouped-multiline">
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.1/bulma-0.7.1.zip">
                <strong>Download</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside role="left-nav" class="menu">
  <p class="menu-label">
    Form
  </p>
  <ul class="menu-list">
    <li><a>Input</a></li>
    <li><a>Textarea</a></li>
    <li><a>Select</a></li>
    <li><a>Checkbox</a></li>
    <li><a>Radio</a></li>
    <li><a>File</a></li>
  </ul>
  <p class="menu-label">
    Components
  </p>
  <ul class="menu-list">
    <li><a>Breadcrumb</a></li>
    <li><a>Card</a></li>
    <li><a>Datepicker</a></li>
    <li><a>Dropdown</a></li>
    <li><a>Menu</a></li>
    <li><a>Message</a></li>
    <li><a>Modal</a></li>
    <li><a>Navbar</a></li>
    <li><a>Pagination</a></li>
    <li><a>Panel</a></li>
    <li><a>Tabs</a></li>
  </ul>
</aside>
<bulma-container [role]="'content-body'">
  <div class="notification">
    <router-outlet></router-outlet>
  </div>
</bulma-container>